/*
Universidad Nacional de Colombia
7th @rt The Power & Magic of Films to Learn English
7thart_bog@unal.edu.co
2014
*/
/* 
    CSS para controlar cambios pequeños realizados por el equipo de sistemas
*/


.front .navbar-,
.page-about_us .navbar-,
.page-home .navbar- {
  display: none;
}
/* ACTIVIDAD DE PERFUME WHO IS WHO
        estos estilos supongo se crean desde el editor
        se trabajan aquí sólamente para presentación en la web */

.whoswhoin .divTable {
  background-color: #ffead7;
  display: table;
}
.whoswhoin .headRow,
.whoswhoin .divRow {
  clear: both;
}
.whoswhoin .headRow .divCell,
.whoswhoin .divRow .divCell {
  float: left;
  padding: 1.3% 1%;
  text-align: center;
  width: 16.66666666666667%;
}
.whoswhoin .headRow .divCell:first-child,
.whoswhoin .divRow .divCell:first-child {
  font-weight: bold;
  text-align: left;
}
.whoswhoin .headRow .divCell {
  background-color: #bb80a8;
  color: white;
}
.whoswhoin .headRow .divCell:first-child {
  background-color: transparent;
}

/* estilos de los pasos en la introducción a la herramienta */

#steps .step {
  float: left;
  margin-left: 2px;
}
#steps .step_active {
  background: orange;
}


/** Estilos para el men� My Account */
#myAccount{background:repeat-y #333 url(../images/myAccountBck.png);position:fixed;right:-800px;top:150px;transition:all .25s ease-out;z-index:20000}
#myAccount.active{right:0}
#myAccount ul{margin:0;overflow-x:hidden;padding:0 10px;}
#myAccount ul li{border-bottom:1px solid #222;border-top:1px solid #444;height:52px;padding:10px 0;width:240px}
#myAccount ul li:hover{background:#444}
#myAccount ul li:first-child{border-top:none}
#myAccount ul li:last-child{border-bottom:none}
#myAccount ul li a{color:#fff;font-size:.9em;line-height:33px;white-space:nowrap}
#myAccount ul li img{display:block;float:left;height:32px;margin:0 5px;width:32px}
#myAccount .tabMyAccount{background-color:#50992E;background-image:url(../images/myAccount.png);background-position:0 0;cursor:pointer;height:126px;left:-34px;position:absolute;top:185px;width:34px}
#myAccount .tabMyAccount:hover{background-position:0 -127px}
#myAccount .tabMyAccount.active{background-position:-34px 0}
#myAccount .tabMyAccount.active:hover{background-position:-34px -127px}
.row-offcanvas{-moz-transition:all .25s ease-out;-webkit-transition:all .25s ease-out;position:relative;transition:all .25s ease-out}

#myAccount ul ul {display: none;margin:0;overflow-x:hidden;padding:0 10px;}
#myAccount ul ul {border-radius: 0px; position: absolute; top:0; right: 97%;}
#myAccount ul li:hover > ul {display: block;background:#444;color:#fff;font-size:.9em;line-height:33px;white-space:nowrap;}
#myAccount ul ul li {float: none; position: relative;}
#myAccount ul ul li{border-bottom:1px solid #222;border-top:1px solid #444;height:52px;padding:10px 0;width:240px}
#myAccount ul li div img{display:block;margin: auto;float:none; max-width: 100%; max-height: 100%; height: auto;width: auto;}

/** Estilos para la opci�n Progress */
div.progress {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #575757;
    padding-left: 10px;
}
div.progress div {float: left; width: 25%;}
div.progress .title{
    width: 140px;
}
div.progress .value{
    margin-right: 3px;
    text-align: right;
    width: 40px;
}
div.progress .details{
    margin-left: 3px;
    width: 40px;
}

/** Estilos para la opci�n Preferences */
div.preferences {
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #575757;
    padding-left: 10px;
}
div.preferences div {float: left; width: 33%;}

/* Estilos para Progress Details */
.Table { display: table; position: relative; }
.Title {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.Row { display: table-row; }
.Cell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
.TitleCell {
    display: table-cell;
    padding-right: 85px;
    width: 33%;
}
.Right {
    display: table-cell;
    position: absolute;
    top: 5%;
    bottom: 0;
    width: 100px;
    border: solid;
    border-width: thin;
}
.NestedCell {
    width: 100%;
}
.caption {
    display: table-caption;
    border: 1px solid #000;
}

main.detalle p {
  margin: 0 0 0 0;
}
main.detalle table tr th {
  padding: 0;
}
main.detalle table tr td {
  padding: 0;
}
