/*
Universidad Nacional de Colombia
7th @rt The Power of Films to Learn English
7thart_bog@unal.edu.co
2014
*/
/*
ARCHIVO CREADO USANDO LESS
NO EDITAR DIRECTAMENTE EL CSS
*/
/* HTML GENERAL */
body {
  background: #FFFFFF;
}
.ui-selectmenu-button {
  min-width: 120px;
  vertical-align: text-bottom;
}
.ui-selectmenu-button span.ui-selectmenu-text {
  line-height: 1;
  padding: 0 2.1em 0 4px;
}
textarea {
  background-color: transparent;
}
/* LAYOUT GENERAL */
main.detalle {
  margin: 0 auto 10px;
  max-width: 1010px;
}
main.detalle .breadcrumb-class {
  margin: 10px 0;
}
#investment_project {
  margin-top: 90px;
  text-align: center;
}
#sys_footer {
  bottom: 0;
}
#links {
  height: 20px;
  margin: 70px auto 0;
  width: 500px;
}
#links .link {
  float: left;
  margin-left: 5px;
}
#links .link img {
  height: 22px;
  width: 22px;
}
#links .link a {
  font-weight: bold;
}
/* PAGE FRONT, INTRO */
.front form#loginform {
  margin: 70px auto 0;
  width: 300px;
}
.front form#loginform label {
  width: 70px;
}
.front .detalle > .row {
  margin-top: 50px;
}
.front #intro_video {
  height: 225px;
  width: 400px;
}
/* PAGE ABOUT_US */
.page-about_us #div_img_camera {
  margin-top: 20px;
}
.page-about_us #buttons {
  margin-top: 40px;
}
.page-about_us #buttons #btn_agree {
  float: left;
  margin-left: 25%;
  width: 127px;
}
.page-about_us #buttons #btn_decline {
  float: left;
  margin-left: 10%;
  width: 56px;
}
.page-about_us #steps {
  clear: both;
  margin: 70px auto 30px;
  width: 120px;
}
.page-about_us #steps .step {
  border: 1px solid #000;
  border-radius: 10px;
  height: 15px;
  margin-left: 3px;
  text-align: center;
  width: 15px;
}
/* PAGE HOME */
.page-home #tools .tool {
  float: left;
}
.page-home #sets .set {
  background: orange;
  float: left;
  height: 130px;
  margin: 12px;
  width: 130px;
}
.page-home #sets .set .percent {
  background: url(../images/test/percentage.png) no-repeat left top transparent;
  display: block;
  height: 47px;
  margin: -23px 0 0 -23px;
  padding: 16px 0 0 14px;
  position: absolute;
  width: 47px;
}
.page-home #sets .set .info {
  color: #fff;
  margin-top: -18px;
}
.page-home #sets .set .info .attribute.title {
  background: transparent;
  text-align: center;
}
.page-home #sets .set .info .hidden {
  display: none;
}
.page-home .row1 {
  margin: 0 0 40px 0;
}
.page-home .row1 #tools {
  float: right;
  margin-top: 25px;
  width: 250px;
}
/* HOME PAGE -FOR ALL- MOVIES */
#menu-movies {
  height: 20px;
}
#menu-movies a.mnu_button {
  background-color: #50992E;
  color: #fff;
  float: left;
  font-size: 16px;
  margin-left: 2px;
  padding: 10px 6px;
}
#menu-movies a.active {
  background: green;
  float: left;
  margin-left: 2px;
}
#controls-movies {
  height: 17px;
  margin: 10px 0 20px;
}
#controls-movies #progress,
#controls-movies #volume {
  float: right;
  margin-left: 10px;
}
#credits-movies {
  font-size: 16px;
  margin-top: 30px;
  text-align: right;
}
.page-set #parallax {
  background-color: transparent;
  height: 543px;
  overflow: hidden;
  position: relative;
  /* relative, absolute, fixed */
  width: 1038px;
}
.page-set .parallax-layer {
  position: absolute;
}
/* SET ACTIVITIES PAGE -FOR ALL- MOVIES */
.row_activities {
  background-color: rgba(255, 255, 255, 0.7);
  padding-bottom: 20px;
}
#activities .instruction {
  font-size: 17px;
  margin: 20px 0 40px;
}
#activities .texttitle {
  font-size: 20px;
  margin: 20px 0;
  text-align: center;
}
#activities .textsubtitle {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 40px;
  text-align: center;
}
#activities .title h4 {
  font-size: 25px;
  padding: 20px 0 10px;
}
#activities .synopsis textarea {
  border: none;
  padding: 10px;
}
#activities h3 {
  border: none;
  display: inline-block;
}
#activities #pager {
  display: inline-block;
  float: right;
  margin: 20px 0;
}
#activities #pager .pagenumber a {
  background-color: yellow;
  display: inline-block;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
}
#activities #pager .active a {
  border-bottom: 3px solid red;
}
#activities .cajatextoder {
  clear: both;
  float: right;
  line-height: 1.5em;
  width: 70%;
}
#activities .imagenizq {
  float: left;
  width: 30%;
}
#activities .checkanswer img {
  clear: both;
  float: right;
  margin-top: 10px;
}
#activities ol li,
#activities ul li {
  border: none;
}
/* PAGE MOVIE PERFUME */
.movie-perfume {
  background: url(../images/test/perfume.4.filmmenu_muro.png) repeat center top transparent;
}
/******************** TEMPORALES *************************/
/* QUITAR MENUS QUE NO SE VEN EN CADA PAGINA
        YA QUE CARGAN DINÁMICAMENTE */
.front .navbar-,
.page-about_us .navbar-,
.page-home .navbar- {
  display: none;
}
/* ACTIVIDAD DE PERFUME WHO IS WHO
        estos estilos supongo se crean desde el editor
        se trabajan aquí sólamente para presentación en la web */
.whoswhoin .divTable {
  background-color: #FFEAD7;
  display: table;
}
.whoswhoin .headRow,
.whoswhoin .divRow {
  clear: both;
}
.whoswhoin .headRow .divCell,
.whoswhoin .divRow .divCell {
  float: left;
  padding: 1.3% 1%;
  text-align: center;
  width: 16.66666666666667%;
}
.whoswhoin .headRow .divCell:first-child,
.whoswhoin .divRow .divCell:first-child {
  font-weight: bold;
  text-align: left;
}
.whoswhoin .headRow .divCell {
  background-color: #BB80A8;
  color: #fff;
}
.whoswhoin .headRow .divCell:first-child {
  background-color: transparent;
}
/* OTROS CREADOS POR MIGUEL */
/* estilos de los pasos en la introducción a la herramienta */
#steps .step {
  float: left;
  margin-left: 2px;
}
#steps .step_active {
  background: orange;
}

/** Estilos para el men� My Account */
#myAccount{background:repeat-y #333 url(../images/myAccountBck.png);position:fixed;right:-800px;top:150px;transition:all .25s ease-out;z-index:20000}
#myAccount.active{right:0}
#myAccount ul{margin:0;overflow-x:hidden;padding:0 10px;}
#myAccount ul li{border-bottom:1px solid #222;border-top:1px solid #444;height:52px;padding:10px 0;width:240px}
#myAccount ul li:hover{background:#444}
#myAccount ul li:first-child{border-top:none}
#myAccount ul li:last-child{border-bottom:none}
#myAccount ul li a{color:#fff;font-size:.9em;line-height:33px;white-space:nowrap}
#myAccount ul li img{display:block;float:left;height:32px;margin:0 5px;width:32px}
#myAccount .tabMyAccount{background-color:#50992E;background-image:url(../images/myAccount.png);background-position:0 0;cursor:pointer;height:126px;left:-34px;position:absolute;top:185px;width:34px}
#myAccount .tabMyAccount:hover{background-position:0 -127px}
#myAccount .tabMyAccount.active{background-position:-34px 0}
#myAccount .tabMyAccount.active:hover{background-position:-34px -127px}
.row-offcanvas{-moz-transition:all .25s ease-out;-webkit-transition:all .25s ease-out;position:relative;transition:all .25s ease-out}

#myAccount ul ul {display: none;margin:0;overflow-x:hidden;padding:0 10px;}
#myAccount ul ul {border-radius: 0px; position: absolute; top:0; right: 97%;}
#myAccount ul li:hover > ul {display: block;background:#444;color:#fff;font-size:.9em;line-height:33px;white-space:nowrap;}
#myAccount ul ul li {float: none; position: relative;}
#myAccount ul ul li{border-bottom:1px solid #222;border-top:1px solid #444;height:52px;padding:10px 0;width:240px}
#myAccount ul li div img{display:block;margin: auto;float:none; max-width: 100%; max-height: 100%; height: auto;width: auto;}

/** Estilos para la opci�n Progress */
div.progress {
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #575757;
    padding-left: 10px;
}
div.progress div {float: left; width: 25%;}

/** Estilos para la opci�n Preferences */
div.preferences {
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #575757;
    padding-left: 10px;
}
div.preferences div {float: left; width: 33%;}

/* Estilos para Progress Details */
.Table { display: table; position: relative; }
.Title {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.Row { display: table-row; }
.Cell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}
.TitleCell {
    display: table-cell;
    padding-right: 85px;
    width: 33%;
}
.Right {
    display: table-cell;
    position: absolute;
    top: 5%;
    bottom: 0;
    width: 100px;
    border: solid;
    border-width: thin;
}
.NestedCell {
    width: 100%;
}
.caption {
    display: table-caption;
    border: 1px solid #000;
}