#workspace{
    height: 600px;
    overflow:auto;
    position: relative;
    width: 1040px;
}
#parallax{
    height: 543px !important;
}

/* CORRECCIONES CSS */
#menu-movies ul, #menu-movies li {
    list-style-type: none !important;
    list-style-image: none;
}
#menu-movies a {
    color: #fff;
}
#menu-movies .activity_set_menu {
    background-color: #50992e;
    color: #fff ;
    float: left;
    
}
.black_text,#mnu_credits,#mnu_acknowledgments{
    color: #444 !important;
}
#menu-movies .activity_set_menu .title{
    line-height: 0.9em;
    font-size: 16px;
    padding-left: 6px;
    padding-right: 6px;
}
#menu-movies .activity_set_menu .title li{
    border: none;
    line-height: 1em;
    margin: 0;
    padding: 0;
}
#menu-movies .activity_set_menu .title li a{
    float: none;
    margin: 0;
    padding: 1px 8px;
}
#credits-movies a.mnu_button {
    margin-right: 0px;
    padding: 10px 7px;
}
#menu-movies a.mnu_button {
    padding: 10px 5px;
}


.editor_main_space .ql_workspace, .editor_main_space .section_nav{
    background-color: rgba(255, 255, 255, 0.5);
}
#activity_set_home .section_nav{
    padding: 0 15px;
    width: 1040px;
}
#activity_set_home .section_nav .text{
    margin-right: 10px;
    margin-left: 20px;
    color: black;
}
#activity_set_home .section_nav .step_id{
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 5px 5px 0 0;
    display:inline-block;
    font-size: 1.1em;
    height: 19px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 1px;
    padding: 0 14px;
    text-align: center;
}
#activity_set_home .section_nav .active{
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    height: 20px;
    margin-bottom: 0px;
}
#activity_set_home .section_nav .step_id:hover{
    background-color: rgba(255, 255, 255, 0.5);
    height: 20px;
}
#activity_set_home .section_nav .step_instruction{
    font-size: 12pt;
    margin: 10px 20px 0px 20px;
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border-radius: 5px;
    color: black;
    margin: 10px 20px 0;
    padding: 15px;
}

/* Estilos de el userspace */
#activity_set_home #check_button{
    /*margin-top: -20px;*/
}
