#header_7th_art{
    background: #323E4E;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    width: 100%;
}
#container{
    height: 654px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 1240px;
}
#container #navigation{
    background: #E09A5E;
    color: #fff;
    float: left;
    height: 100%;
    width: 200px;
}
#container #navigation > ul > li{
    text-indent: 15px;
}
#container #navigation > ul > li > ul > li{
    cursor: pointer;
    text-indent: 35px;
}
#container #navigation > ul > li > ul > li:hover{
    color: #323E4E;
}
#container #area{
    bottom: 0;
    height: 654px;
    left: 200px;
    overflow: auto;
    /*position: absolute;*/
    right: 0;
    top: 0;
}
#container #area #editor{
    height: 100%;
    width: 100%;
}
#container #area #editor #toolbar{
    background: #E0E0D1;
    height: 54px;
    width: 100%;
}
#container #area #editor .button{
    cursor: pointer;
    float: left;
    height: 48px;
    margin: 2px 5px;
    width: 48px;
    z-index: 10;
}
#container #area #editor #button-object{
    background-image: url('../images/editor/object.png');
}
.object-helper{
    background-image: url('../images/editor/object.png');
    height: 48px;
    width: 48px;
}
#container #area #editor #button1{
    background-image: url('../images/editor/button1.png');
}
#container #area #editor #button2{
    background-image: url('../images/editor/button2.png');
}
#container #area #editor #button3{
    background-image: url('../images/editor/button3.png');
}
#container #area #editor #save{
    background-image: url('../images/editor/button4.png');
}
#container #area #editor #workspace{
    background-image: url('../images/editor/background2.jpg');
    bottom: 0;
    box-shadow: 1px 1px 4px 0 #444444 inset;
    height: 600px;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 1040px;
}
#container #area #editor #workspace .draggable{
    border: solid 1px #C75C5C;
    border-radius: 5px 5px 0 0;
    cursor: move;
    height: 160px;
    min-height: 10px;
    min-width: 10px;
    position: absolute;
    width: 100px;
}
#container #area #editor #workspace .draggable .content{
    position: absolute;
    height: 100%;
    width: 100%;
}
#container #area #editor #workspace .draggable .image{
    background: #4F5D73;
    background-image: url('../images/editor/image.png');
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 64px;
    width: 64px;
}
#container #area #editor #workspace .draggable .text{
    background: #FFF;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    position: absolute;
    top: 5px;
    width: 100%;
}
#container #area #editor #workspace .draggable .objectButton{
    background: #C75C5C;
    background-position:center;
    background-repeat:no-repeat;
    border-radius: 7px;
    color: #EEE;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    opacity: 0.6;
    position: absolute;
    right: -5px;
    text-align: center;
    top: -10px;
    width: 25px;
}
#container #area #editor #workspace .draggable .config{
    background-image: url('../images/editor/properties.png');
    right: 22px;
}
