<div id="7th-alert" class="modal fade modal-7th" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Modal Header</h3>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button id="alert-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="alert-accept" type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>

    </div>
</div>
