<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie lang_0" id="html"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie7 oldie lang_0" id="html"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie lang_0" id="html"> <![endif]-->
<!--[if gt IE 8]> <!-->
<html class="no-js ie9 lang_0" id="html">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="templates/unal/images/favicon.ico" type="image/x-icon; charset=binary">
        <link rel="icon" href="images/favicon.ico" type="image/x-icon; charset=binary">
        <title>Universidad Nacional de Colombia: 7th @rt The Power of Films to Learn English</title>
        <meta name="revisit-after" content="1 hour">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.5, user-scalable=yes">
        <base href="">
        <link rel="stylesheet" type="text/css" href="templates/unal/css/bootstrap.min.css" media="all">
        <link rel="stylesheet" type="text/css" href="templates/unal/css/reset.css" media="all">
        <link rel="stylesheet" type="text/css" href="templates/unal/css/unal.css" media="all">
        <link rel="stylesheet" type="text/css" href="templates/unal/css/base.css" media="all">
        <link rel="stylesheet" type="text/css" href="templates/unal/css/tablet.css" media="only screen and (min-width: 992px) and (max-width: 1199px)">
        <link rel="stylesheet" type="text/css" href="templates/unal/css/phone.css" media="only screen and (min-width: 768px) and (max-width: 991px)">
        <link rel="stylesheet" type="text/css" href="templates/unal/css/small.css" media="only screen and (max-width: 767px)">

        <script src="js/jquery.js" type="text/javascript"></script>

        <!-- acciones para formularios con la clase ".unal-form" -->
        <link rel="stylesheet" type="text/css" href="templates/unal/css/form.css" media="all">
        <link rel="stylesheet" type="text/css" href="templates/unal/css/bootstrap-select.min.css" media="all">
        <script src="templates/unal/js/bootstrap-select.min.js" type="text/javascript"></script>

        <!--Estilos de 7th @rt-->
        <link rel="stylesheet" type="text/css" href="css/7th_art.css" media="all">

        <script>
            jQuery(document).ready(function($) {
                //Carga de header y footer con JQuery para usarlo sin un servidor, luego se cargará con PHP
                $("#sys_header").load("templates/header.html");
                $("#sys_footer").load("templates/footer.html");

                //Instrucción de la plantilla de la UNAL
                $('select', 'form').selectpicker();
            });
        </script>
        <!--[if lt IE 9]><script src="js/html5shiv.js" type="text/javascript"></script><![endif]-->
        <!--[if lt IE 9]><script src="js/respond.js" type="text/javascript"></script><![endif]-->
    </head>
    <body class="not-front page-aboutus not-logged fullpage">
        <!--Header cargado como plantilla-->
        <div id="sys_header"></div>

        <!--SYS: Esta sección también se cargará como plantilla, por ahora no se puede por que la funcionalidad está en JQuery-->
        <div id="services">
            <div class="indicator">
            </div>
            <ul>
                <li><img src="templates/unal/images/icnServEmail.png" width="32" height="32" border="0" alt=""><a href="http://correo.unal.edu.co" target="_top">Correo institucional</a></li>
                <li><img src="templates/unal/images/icnServSia.png" width="32" height="32" border="0" alt=""><a href="http://www.sia.unal.edu.co" target="_top">Sistema de Información Académica</a></li>
                <li><img src="templates/unal/images/icnServLibrary.png" width="32" height="32" border="0" alt=""><a href="http://www.sinab.unal.edu.co" target="_top">Bibliotecas</a></li>
                <li><img src="templates/unal/images/icnServCall.png" width="32" height="32" border="0" alt=""><a href="http://168.176.5.43:8082/Convocatorias/indice.iface" target="_blank">Convocatorias</a></li>
            </ul>
        </div>
        <main class="detalle">
            <div class="breadcrumb-class">
                Está en:&nbsp;<a href="http://unal.edu.co" target="_self" title="Inicio">Inicio</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="#" target="_self" title="La Universidad">Sección</a>&nbsp;&nbsp;/&nbsp;&nbsp;<b>Página</b>
            </div>
            <div class="row row1">




<div class="col-xs-12 col-sm-12 col-md-12" id="divAboutUs">
<h2>ABOUT US</h2>

<p>Es una herramienta virtual, creada y producida por el Departamento de Lenguas Extranjeras para apoyar el aprendizaje aut&oacute;nomo del ingl&eacute;s de los estudiantes de pregrado y posgrado de la Universidad Nacional de Colombia, mediante la utilizaci&oacute;n del cine, la Internet y los ambientes virtuales, a trav&eacute;s de actividades de aprendizaje que buscan incentivar y desarrollar macro habilidades de anticipaci&oacute;n, comprensi&oacute;n y extensi&oacute;n; a partir del reparto, los personajes, los escenarios, los temas y tramas de los filmes.</p>
&nbsp;

<p>En otras palabras, 7th @rt ofrece a los estudiantes oportunidades para fortalecer y generar actitudes positivas que les ayuden a mejorar su conocimiento del ingl&eacute;s y desarrollar habilidades de lengua y estrategias de aprendizaje. En este sentido, este objetivo denota adem&aacute;s un proceso continuo, bajo el principio de que aprender una lengua extranjera es no s&oacute;lamente una actividad comunicativa y cooperativa en s&iacute; misma, sino tambi&eacute;n un ejercicio de autonom&iacute;a. Por lo tanto, se hace &eacute;nfasis en la gran necesidad e importancia de que los estudiantes tomen iniciativas que contribuyan a su experiencia de aprendizaje, en el proceso de convertirse en aprendices aut&oacute;nomos.</p>
&nbsp;

<p>La adaptaci&oacute;n de<em> 7th @rt </em>a lenguaje HTML5 es un proyecto de la Direcci&oacute;n Acad&eacute;mica, Sede Bogot&aacute;, contemplado en el macro proyecto &ldquo;Fortalecimiento de las competencias comunicativas acad&eacute;micas (lectura y escritura) a trav&eacute;s de los curr&iacute;culos y uso de las lenguas extranjeras para la proyecci&oacute;n internacional&rdquo; (Plan Global de Desarrollo 2013-2015), que da continuidad al proyecto de investigaci&oacute;n-creaci&oacute;n <em>7th @rt Virtual Material for Autonomous Learners</em> de la Direcci&oacute;n de Investigaci&oacute;n, SedeBogot&aacute;.</p>
&nbsp;

<p style="text-align:center;"><img src="images/7thart_process.png" /></p>
&nbsp;

<h3>Sus fortalezas</h3>
&nbsp;

<ol>
    <li>Es un recurso innovador de aprendizaje por ser pionero en cuanto a la llave cine-Internet y los ambientes virtuales, medios propios de la educaci&oacute;n por la imagen del siglo XXI, en el marco del aprendizaje aut&oacute;nomo del ingl&eacute;s en el contexto nacional.</li>
    <li>Facilita el acercamiento del estudiante a una lengua aut&eacute;ntica y su uso en contextos culturales aut&eacute;nticos.</li>
    <li>Observa total originalidad en la composici&oacute;n de textos, la producci&oacute;n de im&aacute;genes y la interpretaci&oacute;n de bandas sonoras, en estricto cumplimiento de la Ley de Derechos de Autor.</li>
    <li>El proceso de su adaptaci&oacute;n a HTML5 se desarrolla a trav&eacute;s de un trabajo interdisciplinario con la participaci&oacute;n de egresados, y estudiantes de pregrado y posgrado de siete Unidades Acad&eacute;micas -cuatro Facultades- con el concurso de profesores, como se ilustra en el gr&aacute;fico.</li>
    <li>Es una herramienta producto de un estudio desarrollado con la participaci&oacute;n de estudiantes del Programa de Filolog&iacute;a e Idiomas: Ingl&eacute;s.</li>
</ol>
&nbsp;

<h3>Su formato presenta</h3>
&nbsp;

<ol>
    <li>Video tutorial.</li>
    <li>Cartelera cinematogr&aacute;fica con enlace hacia los sets de actividades, con filtro de b&uacute;squeda por t&iacute;tulo, director y a&ntilde;o.</li>
    <li>Men&uacute; interactivo por pel&iacute;cula o documental.</li>
    <li>S&iacute;ntesis de las obras cinematogr&aacute;ficas.</li>
    <li>Actividades de aprendizaje basadas tanto en los filmes, como en la invaluable producci&oacute;n investigativa de la Universidad Nacional de Colombia que desarrollan temas asociados a las pel&iacute;culas y documentales.</li>
    <li>Columnas escritas por profesores de diferentes facultades y columnistas invitados, que comentan la obra cinematogr&acirc;&ntilde;cao sus temas.</li>
    <li>Datos interesantes asociados a los temas vistos en cada filme.</li>
    <li>Audio textos de nativos y estudiantes no nativos.</li>
    <li>Recurso para grabaci&oacute;n de voz.</li>
    <li>Muro para la interacci&oacute;n entre y con los usuarios.</li>
    <li>Prototipo de la herramienta, versi&oacute;n producto de investigaci&oacute;n</li>
</ol>
&nbsp;

<p>Sus comentarios y sugerencias son bienvenidos en el muro e <em>7<sup>th</sup> @rt</em>.</p>

<p><br />
Elizabeth RodriguezCreadora &amp; Directora - Editora General</p>
</div>





            </div>
        </main>
        <!--Header cargado como plantilla-->
        <div id="sys_footer"></div>
        <script src="templates/unal/js/unal.js" type="text/javascript"></script>
    </body>
</html>
