@import url("http://paradigmaweb.com/7th_art-master/css/peliculas.css");
/* << INCLUSION TEMPORAL PARA TRABAJAR LAS PELICULAS  by JAVIER*/




/*
Universidad Nacional de Colombia
7th @rt The Power of Films to Learn English
7thart_bog@unal.edu.co
2015
*/

/*
ARCHIVO CREADO USANDO LESS
NO EDITAR DIRECTAMENTE EL CSS
*/


/* HTML GENERAL */

    body{
        background: #FFFFFF;
    }

    .ui-selectmenu-button {
        min-width: 120px;
        vertical-align: text-bottom;
    }

    .ui-selectmenu-button span.ui-selectmenu-text {
        line-height: 1;
        padding: 0 2.1em 0 4px;
    }

    textarea {
        background-color: transparent;
    }




/* LAYOUT GENERAL */
/* ==================== TYPOGRAFIA Y CLASES GENERAL PARA TODO EL CONTENIDO CENTRAL ==================== */

    main.detalle {
        font-family: 'Roboto', sans-serif !important;
        margin: 0 auto 10px;
        max-width: 1010px;

            .breadcrumb-class {
                margin: 10px 0;
            }


                    *, input, button, select, textarea {
                      font-family:"Ancizar sans", Tahoma, Geneva, sans-serif !important;
                    }
                    blockquote, q {
                      background:url("../css/images/blockquote.png") no-repeat scroll 18px 14px rgba(253,253,253,0.7);
                      border:1px solid #ebebeb;
                      border-radius:5px;
                      font-size:1.1em;
                      margin-bottom:20px;
                      padding:15px 15px 0 50px;
                      quotes:none;
                    }
                    blockquote:before, q:before, blockquote:after, q:after {
                      content:none;
                    }
                    blockquote p, q p {
                      font-size:1.1em;
                    }
                    h1 {
                      font-size:30px;
                      font-family:"Ancizar sans", Tahoma, Geneva, sans-serif;
                      margin:0 0 15px 0;
                    }
                    h2 {
                      font-size:25px;
                      font-family:"Ancizar sans", Tahoma, Geneva, sans-serif;
                      margin:0 0 15px 0;
                    }
                    h3 {
                      font-size:20px;
                      font-family:"Ancizar sans", Tahoma, Geneva, sans-serif;
                      margin:0 0 15px 0;
                      border:none;
                    }
                    h4 {
                      font-size:18px;
                      font-family:"Ancizar sans", Tahoma, Geneva, sans-serif;
                      margin:0 0 15px 0;
                    }
                    h5 {
                      font-size:16px;
                      font-family:"Ancizar sans", Tahoma, Geneva, sans-serif;
                      margin:0 0 15px 0;
                    }
                    h6 {
                      font-size:15px;
                      font-family:"Ancizar sans", Tahoma, Geneva, sans-serif;
                      margin:0 0 15px 0;
                    }
                    p {
                      margin:0 0 20px 0;
                    }
                    .fa {
                      font-family:FontAwesome !important;
                    }
                    table {
                      border-collapse:collapse;
                      border-color:#e5e5e5;
                      border-spacing:0;
                      border-style:solid;
                      border-width:1px;
                      margin-bottom:20px;
                      width:100%;
                      tr th {
                        background-color:rgba(253,253,253,0.7);
                        border-bottom-style:solid;
                        border-bottom-width:1px;
                        border-right:1px solid;
                        color:#666666;
                        font-weight:bold;
                        padding:9px 20px;
                        text-align:left;
                      }
                      tr td {
                        background-color:rgba(253,253,253,0.7);
                        border-color:#e5e5e5;
                        border-color:#e5e5e5;
                        border-right:1px solid;
                        padding:9px 20px;
                      }
                      tr, tr td, tr th {
                        border-color:#e5e5e5;
                      }
                    }
                    .dropcap {
                      float:left;
                      font-size:29px;
                      height:32px;
                      line-height:30px;
                      margin:2px 7px 0 2px;
                      text-align:center;
                      width:32px;
                    }
                    .dropcap.circle {
                      background-color:#444444;
                      border-radius:16px;
                      color:white;
                      font-size:18px;
                      margin-right:10px;
                    }
                    ol {
                      line-height:20px;
                      margin-bottom:15px;
                      padding:0 0 0 25px;
                      li {
                        border:none;
                        font-size:1em;
                      }
                    }
                    ul {
                      line-height:20px;
                      margin-bottom:15px;
                      padding:0 0 0 25px;
                      list-style:outside none none;
                      padding-left:0;
                      li {
                        background-position:0 0.8em;
                        background-repeat:no-repeat;
                        border:none;
                        border:none;
                        list-style-position:inside;
                        list-style-type:none;
                        font-size:1em;
                      }
                      li.style1 {
                        background-image:url("../css/images/li-style1.png");
                        list-style-image:none;
                        padding-left:25px;
                      }
                      li.style2 {
                        background-image:url("../css/images/li-style2.png");
                        list-style-image:none;
                        padding-left:25px;
                      }
                      li.style3 {
                        background-image:url("../css/images/li-style3.png");
                        list-style-image:none;
                        padding-left:25px;
                      }
                      li.style4 {
                        background-image:url("../css/images/li-style4.png");
                        list-style-image:none;
                        padding-left:25px;
                      }
                      li.style5 {
                        background-image:url("../css/images/li-style5.png");
                        list-style-image:none;
                        padding-left:25px;
                      }
                      li.style6 {
                        background-image:url("../css/images/li-style6.png");
                        list-style-image:none;
                        padding-left:25px;
                      }
                    }
                    .highlight {
                      background:none repeat scroll 0 0 #50992e;
                      color:white;
                    }
                    a:link {
                      color:#50992e;
                    }
                    .notification {
                      font-size:1.2em;
                      margin:5px 0;
                      padding:13px 40px 13px 18px;
                      p {
                        margin:0;
                      }
                    }
                    .notification.error,
                    .notification.error strong {
                      background-color:#ffe9e9;
                      color:#de5959;
                    }
                    .notification.success,
                    .notification.success strong {
                      background-color:#ebf6e0;
                      color:#5f9025;
                    }
                    .notification.warning,
                    .notification.warning strong {
                      background-color:#fbfadd;
                      color:#8f872e;
                    }
                    .notification.notice,
                    .notification.notice strong {
                      background-color:#e9f7fe;
                      color:#5091b2;
                    }
                    .boxes {
                      clear:both;
                      color:white !important;
                      content:"";
                      display:table;
                      text-align:center;
                      .box-color-green {
                        background-color:#38c782;
                      }
                      .box-color-blue {
                        background-color:#0e83cd;
                      }
                      .box-color-violet {
                        background-color:#a558a6;
                      }
                      .box-color-yellow {
                        background-color:#ffba35;
                      }
                      a {
                        color:white !important;
                        text-decoration:underline;
                      }
                      * {
                        color:white !important;
                      }
                    }
                    .user-photo img {
                      border-radius:50%;
                      display:block;
                      height:80px;
                      margin:0 auto 11px;
                      width:80px;
                    }
                    .buttons {
                      clear:both;
                      content:"";
                      display:table;
                      a {
                        color:white;
                        float:right;
                        font-size:14px;
                        margin:5px 0 0;
                        padding:8px 15px;
                      }
                      a:hover {
                        background-color:silver !important;
                      }
                      a:visited {
                        color:white;
                      }
                      a.button-color-green {
                        background-color:#38c782;
                      }
                      a.button-color-blue {
                        background-color:#0e83cd;
                      }
                      a.button-color-violet {
                        background-color:#a558a6;
                      }
                      a.button-color-yellow {
                        background-color:#ffba35;
                      }
                    }
                    .tabsdiv .tabs-nav {
                      list-style:none;
                      margin:0;
                      overflow:hidden;
                      padding:0;
                      width:100%;
                      li {
                        background-color:#f6f6f6;
                        border:none;
                        color:white;
                        float:left;
                        line-height:38px;
                        list-style-image:none;
                        margin:0 1px 1px 0;
                        overflow:hidden;
                        padding:2px 20px;
                        position:relative;
                        vertical-align:baseline;
                        a {
                          transition:all 0.2s ease-in-out 0s;
                        }
                      }
                      li.active {
                        background-color:#38c782;
                        a {
                          color:white;
                        }
                      }
                    }
                    .tabsdiv .tabs-container {
                      background-color:rgba(253,253,253,0.7);
                      border:0 none;
                      margin:0;
                      padding:0;
                      vertical-align:baseline;
                      overflow:hidden;
                      width:100%;
                    }
                    .tabsdiv .tab-content {
                      margin:0;
                      padding:15px;
                      vertical-align:baseline;
                    }
                    .accordionsdiv .accordions-nav {
                      list-style:none;
                      margin:0;
                      overflow:hidden;
                      padding:0;
                      width:100%;
                      li {
                        background-color:#f6f6f6;
                        color:white;
                        cursor:pointer;
                        display:block;
                        font-size:14px;
                        font-weight:600;
                        line-height:26px;
                        margin-bottom:1px;
                        outline:medium none;
                        padding:10px 16px;
                        position:relative;
                        transition:background-color 200ms ease-in-out 0s;
                        a {
                          transition:all 0.2s ease-in-out 0s;
                        }
                      }
                      li.active {
                        background-color:#38c782;
                        a {
                          color:white;
                        }
                      }
                      li:before {
                        color:#38c782;
                        content:"";
                        display:block;
                        float:right;
                        font-family:"FontAwesome";
                        font-size:14px;
                        font-weight:500;
                        line-height:25px;
                        margin:2px 4px 0 0;
                      }
                      li.active:before {
                        color:white;
                        content:"";
                      }
                    }
                    .accordionsdiv .accordions-container {
                      background-color:rgba(253,253,253,0.7);
                      border:0 none;
                      margin:0;
                      padding:0;
                      vertical-align:baseline;
                      overflow:hidden;
                      width:100%;
                    }
                    .accordionsdiv .accordion-content {
                      margin:0;
                      padding:15px;
                      vertical-align:baseline;
                    }
                    li.jjactive:before {
                      color:white;
                      content:"";
                    }
    }

    /* ==================== /TYPOGRAFIA Y CLASES GENERAL PARA TODO EL CONTENIDO CENTRAL ==================== */




    #investment_project {
        margin-top: 90px;
        text-align: center;
    }

    #sys_footer {
        bottom: 0;
    }

    #links {
    height: 20px;
    margin: 70px auto 0;
    width: 500px;

        .link {
            float: left;
            margin-left: 5px;

                img {
                    height: 22px;
                    width: 22px;
                }

                a {
                    font-weight: bold;
                }
        }
}



/* PAGE FRONT, INTRO */

    .front {

        #welcome {
            text-align: justify;

                img {
                    display: block;
                    padding: 0 0 20px 0;
                }

        }

        form#loginform {
            margin: 70px auto 0;
            width: 300px;

                label {
                    width: 70px;
                }
        }

        .detalle > .row {
            margin-top: 50px;
        }

        #intro_video {
            float: right;
            height: 225px;
            margin-top: 20px;
            width: 400px;
        }
    }


/* PAGE ABOUT_US */

    .page-about_us  {

        #div_img_camera {
            margin-top: 20px;
        }

        #buttons {
            margin-top: 40px;

                #btn_agree {
                    float: left;
                    margin-left: 25%;
                    width: 127px;
                }

                #btn_decline {
                    float: left;
                    margin-left: 10%;
                    width: 56px;
                }
        }

        #steps {
            clear: both;
            margin: 70px auto 30px;
            width: 120px;

                .step {
                    border: 1px solid #000;
                    border-radius: 10px;
                    height: 15px;
                    margin-left: 3px;
                    text-align: center;
                    width: 15px;
                }

        }


    }


/* PAGE HOME */

    .page-home {

        #tools .tool {
            float: left;
        }


        #sets {

            .set {
                background: orange;
                float: left;
                height: 130px;
                margin: 12px;
                width: 130px;

                    .percent {
                        background: url(../images/percentage.png) no-repeat left top transparent;
                        display: block;
                        height: 47px;
                        margin: -23px 0 0 -23px;
                        padding: 16px 0 0 14px;
                        position: absolute;
                        width: 47px;
                    }

                    .info {
                        color: #fff;
                        margin-top: -18px;

                            .attribute.title {
                                background: transparent;
                                text-align: center;
                            }

                            .hidden {
                                display: none;
                            }

                    }

            }

        }

        .row1 {
            margin: 0 0 40px 0;

                #tools {
                    float: right;
                    margin-top: 25px;
                    width: 250px;
                }
        }
    }




/* HOME PAGE -FOR ALL- MOVIES */

    #menu-movies {
        height: 20px;

            a.mnu_button{
                background-color: #50992E;
                color: #fff;
                float: left;
                font-size: 16px;
                margin-left: 2px;
                padding: 10px 6px;
            }

            a.active{
                background: green;
                float: left;
                margin-left: 2px;
            }
    }

    #controls-movies {
        height: 17px;
        margin: 10px 0 20px;

        #progress,
        #volume {
            float: right;
            margin-left: 10px;
        }

    }

    #credits-movies {
        font-size: 16px;
        margin-top: 30px;
        text-align: right;
    }


    .page-set {

        #parallax{
            background-color: transparent;
            height: 350px;
            overflow: hidden;
            position: relative;     /* relative, absolute, fixed */
            width: 100%;
        }
        .parallax-layer {
            position: absolute;
        }

        main.detalle {

          .breadcrumb-class,
          .breadcrumb-class a {
            color: #fff;
          }

        }


    }



/* SET ACTIVITIES PAGE -FOR ALL- MOVIES */

        .row_activities {
            background-color: rgba(255, 255, 255, 0.7);
            padding-bottom: 20px;
        }

        #activities{


                .instruction {
                    font-size: 17px;
                    margin: 20px 0 40px;
                }

                .texttitle {
                    font-size: 20px;
                    margin: 20px 0;
                    text-align: center;
                }

                .textsubtitle {
                    font-size: 12px;
                    font-style: italic;
                    margin-bottom: 40px;
                    text-align: center;
                }

                .title h4 {
                    font-size: 25px;
                    padding: 20px 0 10px;
                }

                .synopsis textarea {
                    border: none;
                    padding: 10px;
                }

                h3 {
                    border: none;
                    display: inline-block;
                }


                #pager {
                    display: inline-block;
                    float: right;
                    margin: 20px 0;

                        .pagenumber a {
                            background-color: yellow;
                            display: inline-block;
                            font-weight: bold;
                            height: 20px;
                            line-height: 20px;
                            text-align: center;
                            width: 20px;
                        }

                        .active a {
                            border-bottom: 3px solid red;
                        }
                }

                .cajatextoder {
                    clear: both;
                    float: right;
                    line-height: 1.5em;
                    width: 70%;
                }

                .imagenizq {
                    float: left;
                    width: 30%;
                }

                .checkanswer img {
                    clear: both;
                    float: right;
                    margin-top: 10px;
                }

                ol li,
                ul li {
                    border: none;
                }

        }




/* PAGE MOVIE PERFUME */

    .movie-perfume {
        background: url(../images/perfume.4.filmmenu_muro.png) repeat center top transparent;

    }


/* PAGE LEGAL */
/* PAGE ABOUT US */
/* PAGE TERMS */

    body.page-legal,
    body.page-aboutus,
    body.page-terms {

            h2,
            img {
              text-align: center;
            }

            h3 {
              color: red;
            }

            .WordSection1 {
                margin: 0 auto;
                max-width: 550px;
            }

    }




/******************** TEMPORALES *************************/

    /* QUITAR MENUS QUE NO SE VEN EN CADA PAGINA
        YA QUE CARGAN DINÁMICAMENTE */

            .front,
            .page-about_us,
            .page-home {

                .navbar- {
                    display: none;
                }
            }

    /* ACTIVIDAD DE PERFUME WHO IS WHO
        estos estilos supongo se crean desde el editor
        se trabajan aquí sólamente para presentación en la web */

            .whoswhoin {

                .divTable {
                    background-color: #FFEAD7;
                    display: table;
                }

                .headRow,
                .divRow {
                    clear: both;

                        .divCell {
                            float: left;
                            padding: 1.3% 1%;
                            text-align: center;
                            width: 16.66666666666667%;
                        }

                        .divCell:first-child {
                            font-weight: bold;
                            text-align: left;
                        }
                }

                .headRow .divCell {
                    background-color: #BB80A8;
                    color: #fff;

                        &:first-child {
                            background-color: transparent;
                        }
                }
            }






/* OTROS CREADOS POR MIGUEL */


    /* estilos de los pasos en la introducción a la herramienta */
    #steps .step{
        float: left;
        margin-left: 2px;
    }
    #steps .step_active{
        background: orange;
    }
