/*
Universidad Nacional de Colombia
7th @rt The Power of Films to Learn English
7thart_bog@unal.edu.co
2014
*/
#tools .tool{
    float: left;
}


#sets .set{
    background: orange;
    float: left;
    height: 200px;
    margin: 10px;
    width: 200px;
}
#sets .set .attribute{
    background: gray;
}
#sets .set .hidden{
    display: none;
}