/*
Universidad Nacional de Colombia
7th @rt The Power of Films to Learn English
7thart_bog@unal.edu.co
2014
*/
#intro_video{
    background: black;
    height: 300px;
    width: 400px;
}

body {
	background-color:#FFF;
}