#header_7th_art{
    background: #ccc;
    height: 40px;
    width: 100%;
}
#container{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 40px;
}
#container #navigation{
    background: orange;
    height: 100%;
    width: 200px;
}
#container #workspace{
    bottom: 0;
    left: 200px;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
}
#container #workspace #editor{
    height: 100%;
    width: 100%;
}
#container #workspace #editor #toolbar{
    background: pink;
    height: 25px;
    width: 100%;
}
#container #workspace #editor #toolbar .draggable{
    border: solid 1px #060;
    cursor: pointer;
    float: left;
    margin-left: 5px;
}
#container #workspace #editor #area{
    background: red;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 25px;
    
}
