<header id="unalTop">
    <div class="logo">
        <a href="http://unal.edu.co">
            <img alt="Escudo de la Universidad Nacional de Colombia" src="templates/unal/images/escudoUnal.png" width="189" height="70" title="Escudo de la Universidad Nacional de Colombia"/>
        </a>
        <div class="diag">
        </div>
    </div>
    <div class="seal">
        <img alt="Escudo de la República de Colombia" src="templates/unal/images/sealColombia.png" width="66" height="66" title="Escudo de la República de Colombia"/>
    </div>
    <div class="firstMenu">
        <div class="btn-group tx-srlanguagemenu">
            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                ES <span class="caret"></span>
            </div>
            <ul class="dropdown-menu" role="menu">
            </ul>
        </div>
        <ul class="socialLinks">
            <li><a href="https://twitter.com/unimedios" target="_blank" class="twitter" title="Cuenta oficial en Twitter"></a></li>
            <li><a href="https://www.facebook.com/pages/Agencia-de-Noticias-UN/193658967327822" target="_blank" class="facebook" title="Página oficial en Facebook"></a></li>
            <li><a href="http://www.agenciadenoticias.unal.edu.co/nc/sus/type/rss2.html" target="_blank" class="rss" title="Suscripción a canales de información RSS"></a></li>
        </ul>
    </div>
    <div class="navigation">
        <div class="site-url">
            <div class="icon">
            </div>
            7<sup>th</sup> @rt : The Power & Magic of Films to Learn English
        </div>
        <div class="navbar-">
            <div class="btn-group">
                <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <a href="home.html">Home</a>
                </div>
            </div>
            <div class="btn-group">
                <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Perfume<span class="caret"></span>
                </div>
                <ul class="dropdown-menu">
                    <li><a href="#" target="_self">Rage</a></li>
                    <li><a href="#" target="_top">Suits</a></li>
                    <li><a href="#" target="_top">Venom</a></li>
                    <li><a href="#" target="_top">Zeus</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <a href="#" target="_top">Wall</a>
                </div>
            </div>
        </div>
    </div>
    <div class="buscador">
        <gcse:searchbox-only resultsurl="http://unal.edu.co/resultados-de-la-busqueda/"></gcse:searchbox-only>
    </div>
</header>

<div class="home-image">
    <img src="templates/unal/img_demo.jpg" width="2000" height="80" border="0" alt="">
</div>
